* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #e0dde296;
}

body {
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
    margin: 150px;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(12, 77, 59) , rgb(30, 59, 45));
}

#heading {
    text-transform: uppercase;
    color: #e0dde296;
}

#RGB-HEX {
    border: none;
    background: none;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    color: #a6a5a7;
}

#RGB-HEX option {
    color: #a6a5a7;
}

.inputValues {
    display: flex;
    justify-content: center;
}

.inputValues input {
    outline: none;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #e0dde296;
    width: 90px;
    font-size: 54px;
    text-align: center;
}

#dash {
    margin: 25px;
}

::placeholder, #dash {
    color: #e0dde296
}

.buttons {
    padding: 10px;
}

#convertBtn, #resetBtn {
    padding: 8px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#convertBtn {
    background-color: #e0dde296;
    color: #ffffff;
}

#resetBtn {
    background-color: #ffffff;
    color: #a6a5a7;
    outline: #e0dde296 solid 1.5px;
    width: 70px;
}

#colorBar {
    width: 500px;
    margin: 5px 0;
    height: 85px;
    border: #e0dde296 solid 4px;
    outline: 10px;
    margin: 10px auto;
    border-radius: 5px;
}
